h1 {
  background-color: #f58ea0;
  color: #dad8d8;
}

h2  {
  color: #f112f1;
  background-color: #dad8d8;
}

#main-topic {
  background-color: hotpink;
}

.subtopic {
  background-color: #ebf64d;
}

.subtopic:hover {
  color: rgb(30, 215, 240);
}

.partners:active {
  background-color: hotpink;
  color: #efefef;
}

h4 + ul {
  list-style: none;
}

h4 + ul:hover {
  background-color: #ebf64d;
}

#contact a:visited {
  color: rgb(30, 215, 240);
}

/* CONTACT PAGE */

ul {
  background-color: rgb(30, 215, 240);
}

ul:hover {
  background-color: #f58ea0;
}

h3 + ul li {
  list-style: circle;
}

#main a:visited {
  color: #ec10bd;
               }

.img1 {
    margin-top: 0px;
    height: 200px;
    width: 1400px;
    object-fit: cover;
      }
.img2 {
    height: 200px;
    width: 1400px;
    object-fit: cover;
      }

.candy {
    margin-left: 0px;
    margin-right: 200px;  
    float: left;
    border-radius: 1000px;
    height: 200px;
    width: 200px;
    border: inset;
       }


.jelly {
  margin-right: 200px;
  height: 200px;
  width: 200px;
   float: none;
  border-radius: 1000px;
  border: double;

}     

.lollipop {

  margin-right: 200px;
  height: 200px;
  width: 200px;
  float: unset;
  border-radius: 1000px;
  border: dashed;
}


h5 {
  font-weight: 600;
  font-size: 24px;
}